body {
  	font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif!important;
}

a,a:hover,h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif!important;
}

body {
	background-color: #1289A7;
	color: #fff;
}

.modal-content {
	background-color: #112f38;
	color: #fff;
}

.sk-panel {
	background-color: #112f38;
	color: #fff;
}

a,a:hover,h1,h2,h3,h4,h5,h6 {
	color: #fff;
}
